* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

.nav {
    display: flex;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

nav li +li {
    margin-left: 1rem;
}

.nav a {
    text-decoration: none;
    color: #333;
    padding: 1rem;
    display: block;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
}

@media(max-width: 462px) {
    .nav {
        position: none;
        left: 0;
        right: 0;
        background: #fff;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;
    }

    .nav.open {
        max-height: 200px;
    }

    .nav-toggle {
        display: block;
    }
}

.hero {
    background-color: #f4f4f4;
    padding: 4rem 0;
    text-align: center;
}

.hero .btn {
    margin-top: 1rem;
    text-decoration: none;
}

.services {
    padding: 2rem 0;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.card {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 1rem;
}


.contact {
    padding: 2rem 0;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input, textarea {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 4px;
}

.footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 1rem 0;
}
