* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: #1e1e1e;
  color: #ececec;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.container {
  margin-top: 1.5rem;
  background-color: #2c2c2c;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  width: 90%;
  max-width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  gap: 0.5rem;
}

#input-item {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #1e1e1e;
  color: #ececec;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #0278ff;
  color: #ececec;
  transition: background-color 0.2 ease;
}

button:hover {
  background-color: #4296e0;
}

.controles {
  margin-top: 0.4rem;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 1px solid #444;
}

li span {
  margin-left: 0.4em;
}

li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.03);
}

.contador-div {
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end; */
  /* max-width: 50px; */
  margin-top: 1rem;
  padding: 10px;
  background-color: #224a75;
}

.contado-item {
  margin-right: 0.3rem;
}
.contador-texto {
  align-content: center;
  flex-grow: 0;
}

.limpar {
  background-color: #c63f30;
  color: #ececec;
  width: 100%;
  margin-top: 0.5rem;
}

.limpar:hover {
  background-color: #d94f42;
}
