body {
  font-family: Arial, sans-serif;
  background-color: #e9f4f9;
  margin: 0;
}

#form-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: auto;
  margin-top: 20px;
  height: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

h2 {
  text-align: center;
  font-size: 20px;
  color: #444;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group .radio-group,
.input.group .checkbox-group {
  display: flex;
  gap: 20px;
}

label:has(input[type="radio"]) {
  display: flex;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 18px;
  padding: 10px;
}

button:hover {
  background-color: #45a049;
}

input,
select,
textarea,
button {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: -webkit-fill-available;
}

form {
  width: 100%;
}

.checkbox-group label {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.checkbox-group label input {
    width: fit-content;
}